@(reports: List[Report], reportForm: Form[ReportData])

@import helper._

@main("Reports") {

	<h1>@reports.size report(s)</h1>
	<ul>
		@reports.map { report =>
				<li>
					@report.status
					@form(routes.Application.deleteReport(report._id.toString)){
						<input type="submit" value="Delete" />
					}
				</li>
		}
	</ul>

	<h2>Add a new report</h2>

	@form(routes.Application.newReport){
		@inputText(reportForm("status"))
		@inputText(reportForm("long"))
		@inputText(reportForm("lat"))
		<input type="submit" value="Create" />
	}

}
